<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Public/head.html" />
	<title>座位信息</title>
</head>

<body data-userState="ORDER">
	<div class="box">
		<!--<div class="d1">座位信息</div>-->
		<div class="d2">
			<a href="#"><img class="photo stu-pic" src="/libraryso/Public/img/
			people.jpg"></a>
			<div class="menu">
				<img class="more" src="/libraryso/Public/img/更多.png">
				<ul class="more-ul">
					<li><a href="/libraryso/index.php/home/floorlist/floorlist">查看座位</a></li>
					<li><a href="/libraryso/index.php/home/feedback/report">监督占座</a></li>
				</ul>
			</div>
		</div>
		<div class="d3"><!-- <img class="line" src="/libraryso/Public/img/up-line.png"> --></div>
		<div class="d4">
			<p><span class="classroom_num"></span>楼自习室<span class="seat_id"></span>座</p><p>预约时间：<span class="start_time"></span></p><p>签到截至时间:<span class="end_time"></span></p>
		</div>
		<div class="d5">
			<p>预约者信息：</p><p>学号：<span class="number"></span></p><p>姓名：<span class="name"></span></p>
			<img class="no-sign" src="/libraryso/Public/img/no-sign.png" >
		</div>
		<div class="d6">
			<p class="lib-tel">图书馆咨询电话：888888</p><p class="lib-time">工作时间：8:00-21:00</p>
		</div>
		<div class="d7">
			<button class="btn btn-info " id="seatConfirm" type="button" >就座</button>
			<button class="btn btn-info btn-tz" id="seatReturn" type="button" value="退座">退座</button>
		</div>
		<include file="./Public/nav_left.html"/>
		<div class="zz"></div>
	</div>
	<include file="./Public/_loadding.html"/>
</body>
<include file="./Public/foot.html"/>
</html>