
@media screen and (min-width: 320px) and (max-width : 375px){
    *{margin:0px;padding:0px;}
    .d1{
        background:rgb(35,40,40);
        height:35px;
        text-align:center;
        color:#fff;
        line-height:35px;
    }
    .d2{
        background:rgb(238,238,238);
        height:35px;
    }
    .d3{
        margin-top: 35px;
    }
    .photo{
        width:50px;
        height:50px;
        border-radius:30px;
        margin:10px;
    }
    .carousel-inner{
        height:170px !important;
    }
    .item img{
        height:170px !important;
        width:100% !important;
    }
    .lbt{
        width:100% !important;
        height:170px !important;
    }
    .floor{
        padding: 15px;
        height:75px;
        text-align: center;
        margin-bottom: 20px;
    }
    .floor p {
        width: 106%;
        display: inline-block;
        font-size: 12px;
        color: rgb(148,146,146);
        border-bottom:solid 2px rgb(238,238,238);
    }
    .floor h4 {
        font-size: 14px;
        margin-top: 10px;
        display: inline-block;
        color: rgb(148,146,146);
        font-weight: 400;
    }
    .floor img{
        transform:translateY(-10px);
        margin-left: 10px;
        width:25px;
        height:25px;
    }
    .peo-slide{
        display: none;
        width: 220px;
        padding: 20px;
        background-color: #333;
        color: #fff;
        box-shadow: inset 0 0 5px 5px #222;

    }
    .peo-info{
        width:300px;
        height:100%;
    }
    .slide-ul{
        list-style-type:none;
    }
    .slide-ul li a{
        display:block;
        text-decoration:none;
        height:80px;
        font-size:20px;
        font-weight:100;
        line-height:50px;
        text-indent:20px;
        font-family:Microsoft Yahei;
        vertical-align:left;
        letter-spacing:3px;
        color: white;
    }
    .slide-ul li a:hover{
        background:rgb(51,122,183);
        color:rgb(255,255,255);
    }
    .slide-ul li a span {
        margin-top: 25px;
    }
    .all-floor {
        padding-top: 20px;
        width: 100%;
        height: 300px;
    }
    .left-floor {
        width: 50vw;
        height: 45vh;
        display: inline-block;
        border-right:solid 2px rgb(238,238,238);
    }
    .right-floor {
        width: 48vw;
        display: inline-block;
        transform:translateY(50px);
    }
    nav {
        z-index: 16;
        position: fixed;
        top:0;
        width:250px;
        height: 100%;
        left:-250px;
        transition: all 0.3s linear;
        background: rgb(35,40,40);
    }
    .zz {
        position: fixed;
        top:0;
        width:100vw;
        height:100vh;
        background: grey;
        opacity: 0;
        z-index:-2;

    }
    .user {
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .user img {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius:40px;
    }
    .user-info {
        display: inline-block;
        color: white;
        font-size: 15px;
        padding-left: 10px;
        transform:translateY(19px);
    }
}
@media screen and (min-width: 375px) and (max-width : 414px) {
    *{margin:0px;padding:0px;}
    .d1{
        background:rgb(35,40,40);
        height:40px;
        text-align:center;
        color:#fff;
        line-height:40px;
    }
    .d2{
        background:rgb(238,238,238);
        height:40px;
    }
    .d3{
        margin-top: 40px;
    }
    .photo{
        width:60px;
        height:60px;
        border-radius:30px;
        margin:10px;
    }
    .carousel-inner{
        height:200px !important;
    }
    .item img{
        height:200px !important;
        width:100% !important;
    }
    .lbt{
        width:100% !important;
        height:200px !important;
    }
    .floor{
        padding: 22px;
        height:90px;
        text-align: center;
        margin-bottom: 20px;
    }
    .floor p {
        display: inline-block;
        font-size: 12px;
        color: rgb(148,146,146);
        border-bottom:solid 2px rgb(238,238,238);
    }
    .floor h4 {
        font-size: 17px;
        margin-top: 10px;
        display: inline-block;
        color: rgb(148,146,146);
        font-weight: 400;
    }
    .floor img{
        transform:translateY(-10px);
        margin-left: 10px;
        width:35px;
        height:35px;
    }
    .peo-slide{
        display: none;
        width: 220px;
        padding: 20px;
        background-color: #333;
        color: #fff;
        box-shadow: inset 0 0 5px 5px #222;

    }
    .peo-info{
        width:300px;
        height:100%;
    }
    .slide-ul{
        list-style-type:none;
    }
    .slide-ul li a{
        display:block;
        text-decoration:none;
        height:80px;
        font-size:20px;
        font-weight:100;
        line-height:50px;
        text-indent:20px;
        font-family:Microsoft Yahei;
        vertical-align:left;
        letter-spacing:3px;
        color: white;
    }
    .slide-ul li a:hover{
        background:rgb(51,122,183);
        color:rgb(255,255,255);
    }
    .slide-ul li a span {
        margin-top: 25px;
    }
    .all-floor {
        padding-top: 20px;
        width: 100%;
        height: 300px;
    }
    .left-floor {
        width: 50vw;
        height: 300px;
        display: inline-block;
        border-right:solid 2px rgb(238,238,238);
    }
    .right-floor {
        width: 48vw;
        height: 300px;
        display: inline-block;
        transform:translateY(50px);
    }
    nav {
        z-index: 16;
        position: fixed;
        top:0;
        width:250px;
        height: 100%;
        left:-250px;
        transition: all 0.3s linear;
        background: rgb(35,40,40);
    }
    .zz {
        position: fixed;
        top:0;
        width:100vw;
        height:100vh;
        background: grey;
        opacity: 0;
        z-index:-2;

    }
    .user {
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .user img {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius:40px;
    }
    .user-info {
        display: inline-block;
        color: white;
        font-size: 15px;
        padding-left: 10px;
        transform:translateY(19px);
    }

    .menu {
        float: right;
        display: inline-block;
        width: 80px;
        height: 40px;
    }

    .more {
        margin-top: 5px;
        margin-left: 50%;
        width: 30px;
        cursor: pointer;
    }
    .menu ul {
        list-style: none;
        display: none;
        background-color: white;
        margin-top: 5px;
    }
    .menu ul li a {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }
    .menu ul li {
        padding: 9px;
        margin-bottom: 0;
        border-bottom:1px solid rgb(238,238,238);
        border-left:1px solid rgb(238,238,238);
    }

}
@media screen and (min-width: 414px) and (max-width : 768px){

}
@media screen and (min-width: 768px) and (max-width : 1024px) {
    *{margin:0px;padding:0px;}
    .d1{
        background:rgb(35,40,40);
        height:40px;
        text-align:center;
        color:#fff;
        line-height:40px;
    }
    .d2{
        background:rgb(238,238,238);
        height:40px;
    }
    .d3{
        margin-top: 40px;
    }
    .photo{
        width:60px;
        height:60px;
        border-radius:30px;
        margin:10px;
    }
    .carousel-inner{
        height:200px !important;
    }
    .item img{
        height:200px !important;
        width:100% !important;
    }
    .lbt{
        width:100% !important;
        height:200px !important;
    }
    .floor{
        padding: 220px;
        height:90px;
        text-align: center;
        margin-bottom: 20px;
    }
    .floor p {
        display: inline-block;
        font-size: 12px;
        color: rgb(148,146,146);
        border-bottom:solid 2px rgb(238,238,238);
    }
    .floor h4 {
        margin-top: 10px;
        display: inline-block;
        color: rgb(148,146,146);
        font-weight: 400;
    }
    .floor img{
        transform:translateY(-10px);
        margin-left: 10px;
        width:35px;
        height:35px;
    }
    .peo-slide{
        display: none;
        width: 220px;
        padding: 20px;
        background-color: #333;
        color: #fff;
        box-shadow: inset 0 0 5px 5px #222;

    }
    .peo-info{
        width:300px;
        height:100%;
    }
    .slide-ul{
        list-style-type:none;
    }
    .slide-ul li a{
        display:block;
        text-decoration:none;
        height:80px;
        font-size:20px;
        font-weight:100;
        line-height:50px;
        text-indent:20px;
        font-family:Microsoft Yahei;
        vertical-align:left;
        letter-spacing:3px;
        color: white;
    }
    .slide-ul li a:hover{
        background:rgb(51,122,183);
        color:rgb(255,255,255);
    }
    .slide-ul li a span {
        margin-top: 250px;
    }
    .all-floor {
        padding-top: 20px;
        width: 100%;
        height: 300px;
    }
    .left-floor {
        width: 49%;
        height: 300px;
        display: inline-block;
        border-right:solid 2px rgb(238,238,238);
    }
    .right-floor {
        width: 49%;
        height: 300px;
        display: inline-block;
        transform:translateY(50px);
    }
    nav {
        z-index: 16;
        position: fixed;
        top:0;
        width:250px;
        height: 100%;
        left:-250px;
        transition: all 0.3s linear;
        background: rgb(35,40,40);
    }
    .zz {
        position: fixed;
        top:0;
        width:100vw;
        height:100vh;
        background: grey;
        opacity: 0;
        z-index:-2;

    }
    .user {
        padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 150px;
    }
    .user img {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius:40px;
    }
    .user-info {
        display: inline-block;
        color: white;
        font-size: 150px;
        padding-left: 10px;
        transform:translateY(19px);
    }
    .menu{
        z-index:10000;
    }
    .menu ul {
        z-index:10000;
        list-style: none;
        display: none;
        background-color: white;
        margin-top: 5px;
    }
    .menu ul li a {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }
    .menu ul li {
        padding: 9px;
        margin-bottom: 0;
        border-bottom:1px solid rgb(238,238,238);
        border-left:1px solid rgb(238,238,238);
    }
}